Django==4.0.6
django-extensions==3.2.0
ipython==8.4.0
django-import-export==2.8.0

# dev
django-debug-toolbar==3.5.0
django-admin-rangefilter==0.8.6

# flake8
flake8==4.0.1
flake8-debugger==4.1.2
flake8-print==5.0.0
flake8-builtins==1.5.3

# 3d
erlang==25.0.3-1
rabbitmq==3.10.1-1
celery~=5.2.7
requests~=2.28.1