
{% extends 'base.html' %}

{% block title %}Contact Us{% endblock title %}

{% block main_content %}
    <table class="table">
        <tr>
            <th scope="col">ID:</th>
            <th scope="col">Email from:</th>
            <th scope="col">Email to:</th>
            <th scope="col">Subject:</th>
            <th scope="col">Date message:</th>
        </tr>
        {% for contact in contactus_list %}
            <tr>
                <th  scope="row">{{ contact.id }}</th>
                <td>{{ contact.email_from }}</td>
                <td>{{ contact.email_to }}</td>
                <td>{{ contact.subject }}</td>
                <td>{{ contact.date_message }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock main_content %}
