
{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Rate delete{% endblock title %}

{% block main_content %}
<div class="container mt-3 " style="width: 40%; font-size: 14pk">
    <form method="post" class="card p-3 mt-5" autocomplete="off">
        {% csrf_token %}
        <div class="row">
            <div class="col-6">
                <h3>Delete this rate?</h3>
            </div>
            <div class="col-6">
                <h1>Are you sure about that?</h1>
            </div>
        </div>
        <button type="submit" class="btn btn-danger">Send</button>
    </form>
</div>
{% endblock main_content %}